---
const team = [
  {
    title: "Jose Alejandro Rosero Rodriguez",
    description: "Ingeniero mecatrónico.",
    image: "https://imgur.com/uQk0L5v.png",
    color: "primary"
  },
  {
    title: "Nicolas Mateo Guio Maestre",
    description: "Ingeniero mecatrónico.",
    image: "https://imgur.com/pX57IiL.png",
    color: "primary"
  },
  {
    title: "Alejandro Bernal Rubiano",
    description: "Ingeniero mecatrónico.",
    image: "https://imgur.com/TINWDX1.png",
    color: "primary"
  },
  {
  title: "Juan Diego Tovar Cárdenas",
    description: "Ingeniero mecatrónico.",
    image: "https://imgur.com/lqfMkfY.png",
    color: "primary"
  }
];
---

<section id="team" class="section bg-primary-50 dark:bg-primary-950">
  <div class="container-custom">
    <div class="text-center max-w-3xl mx-auto mb-16">
      <span class="inline-block px-4 py-1 rounded-full bg-accent-50 dark:bg-accent-950 text-info-100 dark:text-info-500 font-medium text-sm mb-4">
			  La fuerza del equipo viene de cada Miembro. La fuerza de cada miembro es la fuerza del equipo.
      </span>
      <h2 class="mb-6 text-info-50 dark:text-info-100">Conoce a nuestro equipo</h2>
      <p class="text-info-400 dark:text-info-500">
        Un equipo dedicado a dar lo mejor en cada proyecto
      </p>
    </div>

    <!-- Tarjetas -->
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 gap-8">
      {team.map((person, index) => (
        <div 
          class="card p-6 border border-info-600 dark:border-info-700 text-center slide-up"
          style={`animation-delay: ${index * 100}ms`}
		</div>
          <div class={`w-60 h-60 mx-auto mb-6 rounded-full overflow-hidden border-4 border-${person.color}-200 dark:border-${person.color}-800`}>
            <img 
              src={person.image} 
              alt="Ícono de la característica" 
              class="w-full h-full object-cover"
            />
          </div>
          <h3 class="text-xl font-semibold mb-3 text-gray-900 dark:text-white">{person.title}</h3>
          <p class="text-gray-600 dark:text-gray-300">{person.description}</p>
        </div>
      ))}
    </div>

    <!-- Botón inferior -->
    <!--
    <div class="mt-16 text-center">
      <a href="/features" class="btn-primary inline-flex items-center gap-2">
        Explore All Features
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M10.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L12.586 11H5a1 1 0 110-2h7.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
        </svg>
      </a>
    </div>
    -->
  </div>
</section>

